* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  background-color: #003554;
}

img,
iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #003554;
}

ul {
  list-style: none;
  gap: 1rem;
}
ul ul {
  position: absolute;
  display: none;
}
ul ul li {
  display: block;
}
ul li {
  position: relative;
}
ul li ul {
  display: none;
}
ul li:hover ul {
  display: block;
}
ul li:hover ul li {
  position: relative;
  background-color: #79ADDC;
  border: solid 1px #fff;
}

h1 {
  padding: 0.3rem;
  color: #003554;
  font-size: 3rem;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
  color: #fff;
  background-color: #003554;
}

select, option {
  border: solid 2px #003554;
  border-radius: 1rem;
}

/* Headear */
.boton__navbar {
  padding: 0.3rem;
  background-color: #79ADDC;
  border: solid 0.4rem #fff;
  border-radius: 1rem;
}

@media screen and (min-width: 320px) {
  /* Index */
  /* Header */
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #79ADDC;
    gap: 1rem;
  }
  .flexUl {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .img__carrito {
    width: 45px;
    height: 45px;
  }
  /* Promociones */
  .caja__cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .card__producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: #fff;
    width: 310px;
    height: 520px;
    border: solid 4px #79ADDC;
    border-radius: 40px;
    gap: 0.5rem;
  }
  .card__producto-h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .card__producto-boton {
    padding: 4px;
    background-color: #003554;
    border: solid 3px #79ADDC;
    border-radius: 15px;
    color: #fff;
  }
  .card__producto-img {
    width: 300px;
    height: 300px;
  }
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  /* Metodos de pago */
  .caja__metodos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
  }
  .metodosDePago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 90px;
    background-color: #fff;
    margin: 3rem 0rem;
    border: solid 3px #79ADDC;
    border-radius: 20px;
    gap: 1rem;
  }
  .metodosDePago__h3 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .metodosDePago__formas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    padding: 0.5rem;
  }
  .metodosDePago__img {
    width: 35px;
    height: 28px;
  }
  /* Envios */
  .envios__img {
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
  }
}
/* Index */
/* Promos */
@media screen and (min-width: 320px) {
  .grid__cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 800px) {
  .caja__cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 840px) {
  .grid__cards {
    grid-template-columns: 5fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .caja__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 320px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 85px;
    padding: 0.5rem;
    background-color: #fff;
    border: solid 3px #79ADDC;
    border-radius: 20px;
  }
  footer p {
    text-align: center;
  }
  .footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 600px) {
  .footer {
    justify-content: start;
    margin-left: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
