@media screen and (min-width:320px) {
    footer {
        @include flexColCenCen;
        @include sizes (330px, 85px);
        @include paddingBGC (0.5rem, $terciario);
        border: solid 3px $primario;
        border-radius: 20px;
        & p {
           text-align: center;
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 600px) {
    .footer {
        justify-content: start;
        margin-left: 20px;
    }
}