* {
    margin: 0;
    padding: 0;
}
  
  html {
    font-size: 62.5%;
}
  
body {
    font-family: 'Inter', sans-serif;
    font-size: calc($medida * 1.8);
}
  
img,
iframe {
    max-width: 100%;
}
  
a {
    text-decoration: none;
    color: red;
}


ul {
    list-style: none;
    position: relative;
    li ul {
        display: none;
    }
    li:hover ul {
        display: block;
        margin-bottom: 0.3rem;
        li {
            position: relative;
        }
    }
}

h1 {
    padding: 0.3rem;
    color: $secundario;
    font-size: 3rem;
}

/* Headear */

.fondo__azul {
    @include paddingBGC(0.5rem, $primario);
    @include flexColCenCen;
}
.boton__navbar {
    @include paddingBGC (0.3rem, $primario);
    border: solid 0.4rem $terciario;
    border-radius: 1rem;
}