* {
    margin: 0;
    padding: 0;
}
  
  html {
    font-size: 62.5%;
}
  
body {
    font-family: 'Inter', sans-serif;
    font-size: calc($medida * 1.8);
    background-color: $secundario;
}
  
img,
iframe {
    max-width: 100%;
}
  
a {
    text-decoration: none;
    color: $secundario;
}

ul {
    list-style: none;
    gap: 1rem;
    ul {
        position: absolute;
        display: none;
        li {
            display: block;
        }
    }
    
    li {
        position: relative;
    }

    li ul {
        display: none;
    }

    li:hover ul {
        display: block;
        li {
            position: relative;
            background-color: $primario;
            border: solid 1px $terciario;
        }
    }
}

h1 {
    padding: 0.3rem;
    color: $secundario;
    font-size: 3rem;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    color: $terciario;
    background-color: $secundario;
}


/* Headear */

.boton__navbar {
    @include paddingBGC (0.3rem, $primario);
    border: solid 0.4rem $terciario;
    border-radius: 1rem;
}