@media screen and (min-width: 320px) {
    /* Index */

    /* Header */

    header {
        @include flexColCenCen;
        @include paddingBGC(0.5rem, $primario);
        gap: 1rem;
    }
    .flexUl {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .img__carrito {
        @include sizes(45px, 45px);
    }

    /* Promociones */

    .buscador {
        @include flexColCenCen;
        @include paddingMarginBGC (5px, 10px 0px, $terciario);
        &__input {
            @include sizes (300px, 30px)
        }
        &__btn {
            border: none;
        }
        &__img {
            @include sizes(30px, 30px);
        }
    }
    .caja__cards {
        @include gridCenCen;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .card__producto {
        @include flexColCenCen;
        @include paddingBGC (0.8rem, $terciario);
        @include sizes (310px, 600px);
        border: solid 4px $primario;
        border-radius: 40px;
        gap: 0.5rem;
        &-h3 {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            color: $cuarto;
        }
        &-boton {
            @include paddingBGC (4px, $secundario);
            border: solid 3px $primario;
            border-radius: 15px;
            color: $terciario;
        }
        &-img {
            @include sizes (300px, 300px);
        }
    }

    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    /* Metodos de pago */

    .caja__metodos {
        @include flexColCenCen;
        padding: 1rem;
        gap: 2rem;
    }
    .metodosDePago {
        @include flexColCenCen;
        @include sizes (150px, 90px);
        background-color: $terciario;
        margin: 3rem 0rem;
        border: solid 3px $primario;
        border-radius: 20px;
        gap: 1rem;
        &__h3 {
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0px;
            color: $cuarto;
        }
        &__formas {
            @include flexRowCenSA;
            width: 150px;
            padding: 0.5rem;
        }
        &__img {
            @include sizes (35px, 28px);
        }
    }
    

    /* Envios */
    .envios__img {
        @include sizes(45px, 45px)
    }


    /* Carrito */

    .caja__carro {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    
    .card__carro {
        @include flexRowCenSA;
        @include paddingMarginBGC (3px, 0 20px ,$terciario);
        @include sizes (max-width, 100px);
        border: solid 3px $secundario;
        border-radius: 40px;
            &-p {
                font-weight: bold;
            }
            &-img {
                @include sizes (100px, 95px)
            }
    }

    .btn__tacho {
        border: none;
        @include sizes (60px, 70px);
        &-tacho {
            @include sizes(60px, 70px);
        }
    }

    .btnYTotal {
        @include flexRowCenSA;
        margin-top: 20px;
    }

    .vaciar__carrito {
        @include paddingBGC (4px, $terciario);
        border: solid 3px $primario;
        border-radius: 15px;
        color: $secundario;
    }

    .totalCarro {
        @include sizes (200px, 40px);
        @include paddingBGC(4px, $terciario);
        border: solid 3px $primario;
        border-radius: 15px;
        text-align: center;
        color: $secundario;
    }


    /* login y registrar */

    .cajaForm {
        @include flexColCenCen;
    }
    
    fieldset {
        @include sizes(320px, 300px);
        @include paddingMarginBGC (5px, 20px 0px, $terciario);
        border: solid 3px $primario;
        border-radius: 30px;
    }
    legend {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    .form {
        @include flexColCenCen;
        gap: 10px;
        &__p {
            font-weight: bold;
            font-size: 15px;
            text-align: center;
        }
        &__btn {
            @include paddingBGC (4px, $secundario);
            border: solid 3px $primario;
            border-radius: 15px;
            color: $terciario;
        }
    }
}

@media screen and (min-width: 600px) {
    header {
        @include flexRowCenSA;
        gap: 0.5rem;
    }
}



@media screen and (min-width: 1024px) {
    .buscador {
        @include flexRowCenSA;
    }

    .padre__cate {
        @include flexRowCenSA;
    }
}

